@tailwind base;
@tailwind components;
@tailwind utilities;

.select-background-container {
  background-image: url("../assets/images/background/select-background3.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mk-characters-container {
  width: 120px;
  height: 140px;
  object-fit: cover;
  border: 5px solid transparent;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}

.mk-characters-container:hover {
  border: 5px solid #1ae625;
}
